.car-card {
  @apply flex flex-col items-center justify-evenly bg-white rounded-2xl shadow-md p-4 w-56 border transition-all duration-200;
  border-color: #D9D8D8;

  &:hover {
    @apply scale-105;
    border-color: #000000;
  }

  &.selected {
    background-color: #91DF9D;
    border-color: #267031;
  }
}

.car-name {
  @apply flex flex-row gap-2 font-rajdhani text-black text-2xl;
}

.car-image {
  @apply rounded-xl my-4 w-40 h-16;
}

.car-details {
  @apply flex flex-col items-center justify-evenly font-rajdhani;
}

.car-detail {
  @apply text-xl flex justify-between w-40;
}

.label {
  @apply text-black font-medium;
}

.value {
  @apply text-[#797979] font-normal;
}

.car-logo {
  @apply w-32 h-32;
}

.car-logo-container {
  @apply flex justify-center items-center;
}