<div class="flex bg-primary h-screen justify-center px-10">
  <div class="flex flex-col mt-2 w-2/3 ">
    <app-navbar></app-navbar>
    <h1 class="text-base-100 text-5xl self-center mt-10 font-bold font-rajdhani">WHO'S GAPPING WHO?</h1>
    <h2 class="text-base-100 text-xl self-center font-medium font-rajdhani">Guess the winner before watching the race!</h2>
    <div class="mt-2 flex flex-row gap-2 justify-center items-center">
      <app-car-card 
        [carYear]="'2022'" 
        [carModel]="'BMW M4'" 
        [carImage]="'assets/car-images/bmw-m4.png'" 
        [engine]="'5.2L'"
        [power]="'610 HP'" 
        [torque]="'560 NM'" 
        [weight]="'1650 KG'" 
        [drivetrain]="'RWD'"
        [logo]="'assets/icons/bmw-logo.svg'"
        [isSelected]="selectedCarIndex === 0"
        (cardSelected)="selectCar(0)">
      </app-car-card>

      <app-youtube-player [videoId]="'qfDG8Wz05lk'"></app-youtube-player>
      <!-- Right Car Card -->
      <app-car-card 
        [carYear]="'2020'" 
        [carModel]="'Porsche 911 Turbo S'"
        [carImage]="'assets/car-images/porsche-911-turbo-s.png'" 
        [engine]="'5.2L'" 
        [power]="'610 HP'" 
        [torque]="'560 NM'"
        [weight]="'1650 KG'" 
        [drivetrain]="'AWD'" 
        [logo]="'assets/icons/porsche-logo.svg'"
        [isSelected]="selectedCarIndex === 1"
        (cardSelected)="selectCar(1)">
      </app-car-card>
    
    </div>
    <button class="mt-10 btn btn-base w-fit rounded-xl font-rajdhani font-bold text-2xl text-white py-6 self-center">LOCK YOUR PICK</button>
    <h1>
      <app-countdown-timer></app-countdown-timer>
    </h1>
  </div>


</div>